<!-- About Section -->
<section class="frame-section" id="about-us-sec">
    <div class="light-trails-buildings-parent">
        <img class="light-trails-buildings-icon" loading="lazy" alt="" src="assets/images/about.png" />
        
        <div class="frame-container">
            <div class="about-agency-content-parent">
                <div class="about-agency-content success-story-heading">
                    <div id="about-title" class="heading-26">ABOUT Company</div>
                </div>
                
                <h1 class="turning-ideas-into-container">
                    <span>
                        <span class="turning">
                            <span>Turning</span>
                            <span class="span"> </span>
                        </span>
                        <span class="span">
                            <span class="ideas1">Ideas</span>
                        </span>
                        <span class="turning"> into Impactful Software & Data</span>
                    </span>
                </h1>
                
                <div class="athkado-based-in">
                    AthkaDo, based in Saudi Arabia, empowers Gulf businesses with
                    tailored software and data solutions. With local expertise and a
                    passion for innovation, we turn your ideas into impactful, fully
                    functional tech solutions—built to fit your needs from start to
                    finish.
                </div>
                
                <a href="https://calendar.app.google/BZCxNQH8pKGGaHXb6" target="_blank">
                    <div class="get-in-touch-parent">
                        <b class="get-in-touch">Get In Touch</b>
                        <img class="background-icon" loading="lazy" alt="" src="assets/images/background.svg" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>