<!-- Call to Action Section -->
<section class="transform">
    <div class="transform-container">
        <div class="transform-content">
            <div class="lets-transform-your-business-parent">
                <h1 class="lets-transform-your-container">
                    <span>
                        <span>Let's Transform Your </span>
                        <span class="span">Business</span>
                        <span> Together!</span>
                    </span>
                </h1>
                
                <h3 class="lets-connect-and">
                    Let's connect and explore how AthkaDo can help you achieve your
                    digital goals with solutions designed for the Gulf market. We're
                    here to support your vision every step of the way!
                </h3>
                
                <div class="transform-button">
                    <a style="z-index: 5;" href="https://calendar.app.google/BZCxNQH8pKGGaHXb6" target="_blank">
                        <div class="get-in-touch-container" style="z-index: 5 !important; position: relative;">
                            <b class="get-in-touch">Get In Touch</b>
                            <img class="background-icon" loading="lazy" alt="" src="assets/images/background.svg" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>