<!-- Footer Section -->
<footer class="footer-content-wrapper" id="contact">
    <div class="footer-content">
        <div class="footer-content-child"></div>
        
        <div class="footer-info">
            <div class="testpng-parent">
                <!-- <img class="testpng-icon1" loading="lazy" alt="" src="assets/images/testpng-1@2x.png" /> -->
                 <img class="testpng-icon1" loading="lazy" alt="" src="assets/images/white logo.png" />
               
            </div>
            
            <div class="footer-links">
                <div class="footer-description">
                    <div class="lets-connect-and1">
                        Let's connect and explore how AthkaDo can help you achieve
                        your digital goals with solutions designed for the Gulf
                        market. We're here to support your vision every step of the
                        way!
                    </div>
                </div>

                <!-- HORIZONTAL Social Media Links Container -->
                <div class="social-cards-container">
                    <a href="https://sa.linkedin.com/in/athka-do-12178a336" target="_blank">
                        <div class="card-wrapper">
                            <div class="card14">
                                <div class="social-links">
                                    <img class="social-icons" loading="lazy" alt="" src="assets/images/LinkedIn.svg" />
                                    <div class="social-names">
                                        <h3 class="heading-315">Join Us On Linked In</h3>
                                        <div class="artistic-official">@ATHKADO</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                    <a href="https://www.instagram.com/athkado?igsh=ZjUxZ2s5bHljNXRo&utm_source=qr" target="_blank">
                        <div class="card-wrapper">
                            <div class="card14">
                                <div class="social-links">
                                    <img class="social-icons" loading="lazy" alt="" src="assets/images/Instagram.svg" />
                                    <div class="social-names">
                                        <h3 class="heading-315">Follow On Instagram</h3>
                                        <div class="artistic-official">@ATHKADO</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                    <a href="https://x.com/athkado/status/1853427180430131596?s=46" target="_blank">
                        <div class="card-wrapper">
                            <div class="card14">
                                <div class="social-links">
                                    <img class="social-icons" loading="lazy" alt="" src="assets/images/Twitter.svg" />
                                    <div class="social-names">
                                        <h3 class="heading-315">Follow Us On Twitter</h3>
                                        <div class="artistic-official">@ATHKADO</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
        <!-- Contact Information -->
        <div class="contact">
            <div class="contact-info">
                <div class="contact-details">
                    <img class="component-2-icon" loading="lazy" alt="" src="assets/images/component-2.svg" />
                </div>
                <div class="email-infoathkadocom-container">
                    <span>Email</span>
                    <span class="infoathkadocom"> : <a href="mailto:info@athkado.com">info@athkado.com</a></span>
                </div>
            </div>
            
            <div class="phone-number">
                <div class="phone-number-container">
                    <div class="contact-details">
                        <img class="component-2-icon1" loading="lazy" alt="" src="assets/images/component-2-1.svg" />
                    </div>
                    <div class="phone-966-container">
                        <span>Phone</span>
                        <span class="infoathkadocom"> : <a href="tel:+966552154553">+966 552 154 553</a></span>
                    </div>
                </div>
            </div>
            
            <div class="contact-info1">
                <div class="contact-details">
                    <img class="component-2-icon" loading="lazy" alt="" src="assets/images/component-2-2.svg" />
                </div>
                <div class="email-infoathkadocom-container">
                    <span>Office</span>
                    <span class="infoathkadocom office-address">
                        : Al-Khaleej St, Al-Zuhur, Dammam, Saudi Arabia
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>